<h1>Welcome to Alvaro's list</h1>

{{new-listing saveListing="saveListing" listing=listing}}

<h2>Listings</h2>

{{jobs-list model=model}}

{{personals-list model=model}}

{{for-sale-list model=model}}
